<!-- Start -->
<div class="star">
    <div class="star-list">
        <div class="star-flex star-empty">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
        </div>
        <div class="star-flex star-filter" style="width: 80%;">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
        </div>
    </div>
</div>
<!-- End start -->

<!-- Burger btn -->
<div class="burger">
    <div class="hamburger" id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</div>
<!--End  Burger btn -->

<!-- Header search -->
<div class="header-search">
    <img src="" alt="" class="header-search-icon">
</div>
<div class="search_mona">
    <form method="get" id="searchform" class="searchform" action="">
        <div class="search-wrap">
            <input type="search" class="search-input" placeholder="Tìm kiếm . . .">
            <button type="submit" class="search-btn">
                <img src="" alt="" class="icon">
            </button>
        </div>
    </form>
</div>
<!-- End header Search -->

<!-- Header nav -->
<div class="header-nav">
    <ul class="header-nav-list">
        <li class="header-nav-item active">
            <a href="" class="header-nav-link">
                Item
            </a>
        </li>
        <li class="header-nav-item">
            <a href="" class="header-nav-link">
                Item
            </a>
        </li>
        <li class="header-nav-item">
            <a href="" class="header-nav-link">
                Item
            </a>
        </li>
    </ul>
</div>
<!--End Header nav -->


<!-- Side -->
<div class="side-fixed">
    <div class="side-fixed-wrap">
        <!-- Content here -->
    </div>
    <div class="side-close">
        <i class="fas fa-times close icon"></i>
    </div>
</div>
<div class="side-open">
    <div class="side-open-wrap">
        <i class="fas fa-angle-left icon"></i>
    </div>
</div>
<div class="side-overlay"></div>
<!-- End Side -->

<!-- Select custom -->
<div class="sl-cus">
    <div class="sl-head">
        <input type="text" class="select-input" hidden>
        <p class="sl-main"></p>
    </div>
    <ul class="sl-list">
        <li class="sl-item active" data-name="Option 1" data-slug="value 1">
        </li>
        <li class="sl-item" data-name="Option 1" data-slug="value 2">
        </li>
    </ul>
</div>
<!-- End Select custom -->

<!-- Header User -->
<div class="user">
    <div class="user-ava">
        <img src="" alt="">
    </div>
    <p class="user-name">
        John Blue
    </p>
    <div class="user-menu">
        <a href="" class="link">my profile</a>
        <a href="" class="link">Customer support</a>
        <a href="" class="link">Shop Experiences</a>
        <a href="" class="link">Order history</a>
    </div>
</div>
<!-- End header User -->

<!-- Pagi -->
<ul class="page-numbers">
    <li>
        <a href="" class="prev page-numbers" href=""><i class="fa fa-angle-left icon"></i></a>
    </li>
    <li>
        <span class="page-numbers current">1</span>
    </li>
    <li>
        <a href="" class="page-numbers">2</a>
    </li>
    <li>
        <a href="" class="page-numbers">3</a>
    </li>
    <li>
        <a href="" class="page-numbers">4</a>
    </li>
    <li>
        <a href="" class="next page-numbers"><i class="fa fa-angle-right icon"></i></a>
    </li>
</ul>
<!-- End pagi -->

<!-- Recheck -->
<div class="recheck-block">
    <div class="recheck-item">
        <input type="checkbox" name="" id="" class="recheck-input" hidden>
        <div class="recheck-dot"></div>
        <p class="recheck-text">
            Check me ........
        </p>
    </div>
</div>
<!-- End Recheck -->

<!-- Mxh -->
<div class="mxh">
    <div class="mxh-list">
        <a href="" class="mxh-link">
            <img src="" alt="" class="icon">
        </a>
        <a href="" class="mxh-link">
            <img src="" alt="" class="icon">
        </a>
        <a href="" class="mxh-link">
            <img src="" alt="" class="icon">
        </a>
    </div>
</div>
<!-- End mxh -->

<!-- Count -->
<div class="count">
    <div class="count-btn count-minus">
        <i class="fas fa-minus icon"></i>
    </div>
    <input type="text" value="1" max="12" min="0" class="count-input" hidden>
    <p class="count-number"></p>
    <div class="count-btn count-plus">
        <i class="fas fa-plus icon"></i>
    </div>
</div>
<!-- End cout -->

<!-- Cart mini -->
<div class="header-cart">
    <img src="./assets/images/header-cart-icon.svg" alt="" class="header-cart-icon">
    <div class="cmini">
        <div class="cmini-wrap">
            <div class="cmini-list">
                <a href="" class="cmini-item">
                    <div class="cmini-img">
                        <img src="./assets/images/cmini-img.png" alt="">
                        <div class="cmini-delete">
                            <i class="fas fa-times icon"></i>
                        </div>
                    </div>
                    <div class="cmini-content">
                        <h3 class="cart-name">Roger Roger Roger</h3>
                        <p class="cart-price">180,000,000 đ</p>
                        <div class="cmini-color" style="background-color: #D0CBCD;"></div>
                    </div>
                </a>
                <a href="" class="cmini-item">
                    <div class="cmini-img">
                        <img src="./assets/images/cmini-img.png" alt="">
                        <div class="cmini-delete">
                            <i class="fas fa-times icon"></i>
                        </div>
                    </div>
                    <div class="cmini-content">
                        <h3 class="cart-name">Roger</h3>
                        <p class="cart-price">180,000,000 đ</p>
                        <div class="cmini-color" style="background-color: #D0CBCD;"></div>
                    </div>
                </a>
                <a href="" class="cmini-item">
                    <div class="cmini-img">
                        <img src="./assets/images/cmini-img.png" alt="">
                        <div class="cmini-delete">
                            <i class="fas fa-times icon"></i>
                        </div>
                    </div>
                    <div class="cmini-content">
                        <h3 class="cart-name">Roger</h3>
                        <p class="cart-price">180,000,000 đ</p>
                        <div class="cmini-color" style="background-color: #D0CBCD;"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="cmini-button">
            <a href="" class="button button-nor button-full">
                <p class="button-text">
                    Vào trang giỏ hàng
                </p>
            </a>
        </div>
    </div>
</div>
<!-- End cart mini -->

<!-- Banner double -->
<section class="xxx-slide-double">
    <div class="slidedb">
        <div class="slidedb-slider-all">
            <div class="slidedb-slider-main">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slidedb-img-main">
                                <img src="./assets/images/home-banner-2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slidedb-img-main">
                                <img src="./assets/images/home-banner-2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slidedb-img-main">
                                <img src="./assets/images/home-banner-2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slidedb-img-main">
                                <img src="./assets/images/home-banner-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slidedb-slider-sub">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slidedb-img-sub">
                                <img src="./assets/images/slidedb-sub-1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slidedb-img-sub">
                                <img src="./assets/images/slidedb-sub-2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slidedb-img-sub">
                                <img src="./assets/images/slidedb-sub-3.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slidedb-img-sub">
                                <img src="./assets/images/slidedb-sub-4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner double -->


<div class="popup open">
    <div class="popup-overlay">
    </div>
    <div class="popup-main">
        <div class="popup-over">
            <div class="popup-wrapper">
                <!-- Content hear -->
            </div>
        </div>
        <div class="popup-close">
            <i class="fas fa-times icon"></i>
        </div>
    </div>
</div>

<!-- Cmt -->
<div class="news-cmt">
    <div class="cmt load-container">
        <ul class="cmt-list">
            <li class="cmt-item">
                <div class="cmt-item-wrap">
                    <div class="cmt-ava">
                        <div class="cmt-ava-inner">
                            <img src="./assets/images/user-ava-second.png" alt="">
                        </div>
                    </div>
                    <div class="cmt-content">
                        <div class="cmt-content-wrap">
                            <div class="cmt-info">
                                <div class="cmt-head">
                                    <p class="cmt-name">
                                        Trần văn A
                                    </p>
                                    <div class="star">
                                        <div class="star-list">
                                            <div class="star-flex star-empty">
                                                <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                <img src="./assets/images/star-opa.png" alt="" class="icon">
                                            </div>
                                            <div class="star-flex star-filter" style="width: 80%;">
                                                <img src="./assets/images/star.png" alt="" class="icon">
                                                <img src="./assets/images/star.png" alt="" class="icon">
                                                <img src="./assets/images/star.png" alt="" class="icon">
                                                <img src="./assets/images/star.png" alt="" class="icon">
                                                <img src="./assets/images/star.png" alt="" class="icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="cmt-time">
                                    24/09/2022
                                </p>
                            </div>
                            <p class="cmt-des">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam maecenas id justo feugiat lectus sodales nec et,
                                quis. Gravida lacinia tristique aliquam nulla. Amet
                                vitae, lacus, pharetra at lectus aliquam in enim,
                            </p>
                            <div class="cmt-image gallery">
                                <div class="cmt-image-list">
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-15.jpg">
                                            <img src="./assets/images/pro-img-15.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-14.jpg">
                                            <img src="./assets/images/pro-img-14.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-12.jpg">
                                            <img src="./assets/images/pro-img-12.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-13.jpg">
                                            <img src="./assets/images/pro-img-13.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-14.jpg">
                                            <img src="./assets/images/pro-img-14.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-15.jpg">
                                            <img src="./assets/images/pro-img-15.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="cmt-image-item">
                                        <div class="cmt-image-img gItem" data-src="./assets/images/pro-img-16.jpg">
                                            <img src="./assets/images/pro-img-16.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cmt-bot">
                                <div class="cmt-control">
                                    <a href="" class="cmt-control-link">
                                        Thích (<span>1</span>)
                                    </a>
                                    <a href="" class="cmt-control-link cmt-control-answer">
                                        Trả lời (<span>1</span>)
                                    </a>
                                </div>
                                <div class="re-form">
                                    <form action="">
                                        <div class="re-form-wrap">
                                            <input type="text" placeholder="Bình luận">
                                            <button type="submit" class="re-form-btn">
                                                <img src="./assets/images/icon-send.png" alt="">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="children">

                    <li class="cmt-item load-item" style="display: list-item;">
                        <div class="cmt-item-wrap">
                            <div class="cmt-ava">
                                <div class="cmt-ava-inner">
                                    <img src="./assets/images/user-ava-second.png" alt="">
                                </div>
                            </div>
                            <div class="cmt-content">
                                <div class="cmt-content-wrap">
                                    <div class="cmt-info">
                                        <div class="cmt-head">
                                            <p class="cmt-name">
                                                Trần văn A
                                            </p>
                                            <div class="star">
                                                <div class="star-list">
                                                    <div class="star-flex star-empty">
                                                        <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                        <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                        <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                        <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                        <img src="./assets/images/star-opa.png" alt="" class="icon">
                                                    </div>
                                                    <div class="star-flex star-filter" style="width: 80%;">
                                                        <img src="./assets/images/star.png" alt="" class="icon">
                                                        <img src="./assets/images/star.png" alt="" class="icon">
                                                        <img src="./assets/images/star.png" alt="" class="icon">
                                                        <img src="./assets/images/star.png" alt="" class="icon">
                                                        <img src="./assets/images/star.png" alt="" class="icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="cmt-time">
                                            24/09/2022
                                        </p>
                                    </div>
                                    <p class="cmt-des">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Etiam maecenas id justo feugiat
                                        lectus sodales nec et, quis. Gravida lacinia
                                        tristique aliquam nulla. Amet vitae, lacus,
                                        pharetra at lectus aliquam in enim,
                                    </p>
                                    <div class="cmt-bot">
                                        <div class="cmt-control">
                                            <a href="" class="cmt-control-link">
                                                Thích (<span>1</span>)
                                            </a>
                                            <a href="" class="cmt-control-link cmt-control-answer">
                                                Trả lời (<span>1</span>)
                                            </a>
                                        </div>
                                        <div class="re-form">
                                            <form action="">
                                                <div class="re-form-wrap">
                                                    <input type="text" placeholder="Bình luận">
                                                    <button type="submit" class="re-form-btn">
                                                        <img src="./assets/images/icon-send.png" alt="">
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- TextAnimation -->
<p class="txt-ani">
    <span class="txt-ani-item">Quoc hung</span>
</p>
<!-- Select Custom -->
<div class="select-box">
    <div class="select-current">
        <span class="text-current">All category</span>
        <span class="arrow">
            <img src="http://grand-ceramics.monamedia.net/template/img/icon-drop.svg"
                alt="">
        </span>
    </div>
    <div class="select-options"">
        <div class=" opt">
            <label class="opt-label">
                <input type="radio" name="city" id="" class="opt-input"
                    value="Milk tea">
                <span class="opt-text">
                    <span class="icon">
                        <img src="./assets/images/ic-ts1.svg" alt="">
                    </span>
                    <span class="text">
                        Milk tea
                    </span>
                </span>
            </label>
        </div>
        <div class="opt">
            <label class="opt-label">
                <input type="radio" name="city" id="" class="opt-input" checked
                    value="Smoothies">
                <span class="opt-text">
                    <span class="icon">
                        <img src="./assets/images/ic-ts2.svg" alt="">
                    </span>
                    <span class="text">
                        Smoothies
                    </span>
                </span>
            </label>
        </div>
        <div class="opt">
            <label class="opt-label">
                <input type="radio" name="city" id="" class="opt-input"
                    value="Tea">
                <span class="opt-text">
                    <span class="icon">
                        <img src="./assets/images/ic-ts3.svg" alt="">
                    </span>
                    <span class="text">
                        Tea
                    </span>
                </span>
            </label>
        </div>
        <div class="opt">
            <label class="opt-label">
                <input type="radio" name="city" id="" class="opt-input"
                    value="Bingsu">
                <span class="opt-text">
                    <span class="icon">
                        <img src="./assets/images/ic-ts4.svg" alt="">
                    </span>
                    <span class="text">
                        Bingsu
                    </span>
                </span>
            </label>
        </div>
        <div class="opt">
            <label class="opt-label">
                <input type="radio" name="city" id="" class="opt-input"
                    value="Ice cream">
                <span class="opt-text">
                    <span class="icon">
                        <img src="./assets/images/ic-ts5.svg" alt="">
                    </span>
                    <span class="text">
                        Ice scream
                    </span>
                </span>
            </label>
        </div>
        <div class="opt">
            <label class="opt-label">
                <input type="radio" name="city" id="" class="opt-input"
                    value="Taiwanese">
                <span class="opt-text">
                    <span class="icon">
                        <img src="./assets/images/ic-ts6.svg" alt="">
                    </span>
                    <span class="text">
                        Taiwanese
                    </span>
                </span>
            </label>
        </div>
    </div>
</div>