.project {
    &-wr {
        .swiper {
            padding-bottom: 1.7rem;

            &-slide {
                height: auto !important;
                width: calc(100% / 7);
            }
        }
    }

    &-link {
        margin-bottom: 4rem;

        @include max(650px) {
            margin-bottom: 2rem;
        }

        &-it {
            @include flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            height: 100%;

            &::after {
                content: '';
                @include arrow(up, 0.7rem, $color-pri);
                position: absolute;
                top: calc(100% + 1rem);
                left: 50%;
                transform: translateX(-50%);
                animation: DownUpT 1s linear infinite;
                opacity: 0;
            }

            .img {
                width: 70%;

                &-inner {
                    @include imgPd(1, 1);
                    border-radius: 100rem;

                    img {
                        @include imgCover;
                    }
                }
            }

            .txt {
                @include fz-16;
                color: $color-text;
                text-align: center;
                margin-top: 2rem;

                @include max(650px) {
                    @include fz-14;
                    margin-top: 1rem;
                }
            }

            @include hover {
                .txt {
                    color: $color-pri;
                }
            }

            &.active {
                &::after {
                    opacity: 1;
                }

                .txt {
                    font-weight: 700;
                    color: $color-pri;
                }
            }
        }
    }

    &-it {
        width: 25%;

        @include max(700px) {
            width: calc(100% / 3);
        }

        @include max(500px) {
            width: 50%;
        }

        .inner {
            .img {
                position: relative;
                border-radius: 0.8rem;
                overflow: hidden;

                &-inner {
                    @include imgPd(1, 1);

                    img {
                        @include imgCover;
                    }
                }

                .link {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 5rem;
                    height: 5rem;
                    @include mid-flex;
                    transition: 0.4s;
                    transform-origin: right bottom;
                    background-color: $color-white;
                    border-radius: 100rem 0 0 0;
                    z-index: 2;

                    i {
                        transform: translate(30%, 30%);
                        color: $color-pri;
                        font-size: 1.6rem;
                    }

                    @include hover {
                        background-color: $color-pri;

                        i {
                            color: $color-white;
                        }
                    }

                    @include non-hover {
                        background-color: $color-pri;

                        i {
                            color: $color-white;
                        }
                    }

                }
            }

            .info {
                .date {
                    color: #6C727F;
                    margin-top: 0.5rem;
                    @include fz-16;

                    @include max(500px) {
                        @include fz-14;
                    }
                }

                &-tt {
                    color: #121826;
                    transition: 0.4s;
                    @include fz-18;
                    font-weight: 600;
                    @include lc(2);

                    @include hover {
                        color: $color-pri;
                    }
                }
            }
        }
    }

    &-dt {
        &-tt {
            @include fz-40;
            font-weight: 500;
            @include font-second;
            color: #394150;
            margin-bottom: 3rem;
        }

        &-bx {
            padding: 2.4rem;
            background-color: #F2F2F2;
            border-radius: 0.8rem;
            width: 70%;
            margin: auto;
            margin-bottom: 3rem;

            @include max(800px) {
                width: 100%;
            }

            .title {
                @include fz-24;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                display: block;

                &::after {
                    @include min(770px) {
                        max-width: 140%;
                    }
                }

                @include max(770px) {
                    margin-bottom: 4rem;
                    @include fz-40;
                }
            }
        }

        &-box {
            &-it {
                @include flex;
                justify-content: space-between;
                padding: 1.6rem 0;
                font-weight: 500;
                @include fz-18;

                &:not(:first-child) {
                    border-top: 0.1rem dashed $color-border;
                }

                .name {
                    color: #6C727F;
                }

                .val {
                    color: #394150;
                }
            }
        }

        &-content {
            .tt {
                @include fz-18;
                font-weight: 700;
                margin-bottom: 3rem;
            }
        }

        &-flex {
            .row {

                .col-8,
                .col-4 {
                    @include max(800px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .news-detail-side-list {
        padding-top: 2.4rem;
        flex-direction: column;
        align-items: center;

        @include max(800px) {
            flex-direction: row;
            align-items: unset;
        }

        .prod-block-it {
            width: 80%;

            @include max($res-mobile) {
                width: 100%;
            }

            @include max(800px) {
                width: 25%;
            }

            @include max(660px) {
                width: calc(100% / 3);
            }

            @include max(480px) {
                width: 50%;
            }
        }
    }
}

.prod-relate {
    .project-it {
        width: 100%;
    }
}

.sole {
    .tt {
        @include fz-24;
        font-weight: 500;
        @include font-second;
        padding: 2.4rem;
        border-bottom: 0.1rem solid $color-border;

        @include max($res-mobile) {
            padding-left: 0;
            padding-bottom: 1rem;
        }
    }

    &-flex {
        overflow: hidden;

        .side-fixed {
            height: 100%;

            &-wrap {
                height: 100%;
            }

            @include min($res-mobile-min) {
                position: unset;
            }
        }

        .row {
            @include max($res-mobile) {
                .col-9 {
                    width: 100%;
                }
            }
        }
    }

    &-side {
        border-right: 0.1rem solid $color-border;
        height: 100%;

        @include max($res-mobile) {
            border: none;
        }

        .tt {
            color: #212936;

            @include max($res-mobile) {}
        }

        &-box {
            padding: 2.4rem 0;
            padding-right: 1rem;
            overflow-y: auto;
            overflow-x: hidden;

            @include min($res-mobile-min) {
                max-height: calc(100vh - 6rem);
            }
        }

        &-head {
            @include flex;

            .icon {
                width: 2rem;
                height: 2rem;
                @include mid-flex;
                margin-right: 1.2rem;
                margin-top: 0.1rem;
                cursor: pointer;

                i {
                    color: $color-text;
                    transition: 0.4s;
                    font-size: 1.2rem;
                }
            }

            .txt {
                color: $color-text;
                transition: 0.4s;
                font-weight: 500;
            }

            @include hover {
                .icon {
                    i {
                        color: $color-pri;
                    }
                }

                .txt {
                    color: $color-pri;
                }
            }
        }

        &-body {}

        &-list {
            padding-top: 1rem;
            padding-left: 3.2rem;

            .checks-it {
                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }
        }

        &-item {
            &:not(:first-child) {
                margin-top: 2rem;
            }
        }
    }

    &-main {
        &-head {
            @include flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 0.1rem solid $color-border;
            position: relative;

            &::after {
                content: '';
                width: 2.4rem;
                height: 0.1rem;
                background-color: $color-border;
                position: absolute;
                bottom: -0.1rem;
                left: 0;
                transform: translateX(-100%);
            }

            .side-open {
                background-color: $color-pri;
            }
        }

        .tt {
            color: #034928;
            border-bottom: none;

            @include max($res-mobile) {
                @include fz-40;
            }
        }

        &-list {
            padding-top: 2.4rem;

            .project-it {
                width: calc(100% / 3);

                @include max($res-mobile) {
                    width: 25%;
                }

                @include max(700px) {
                    width: calc(100% / 3);
                }

                @include max(500px) {
                    width: 50%;
                }
            }
        }
    }

    &-dt {
        &-bar {
            @include flex;
            gap: 8rem;
            margin-bottom: 3rem;
            overflow-x: auto;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 0.2rem;
                background-color: $color-border;
                bottom: 0;
                left: 0;
                position: absolute;
            }
            &::-webkit-scrollbar {
                height: 0;
            }

            @include max(800px) {
                gap: 2rem;
            }

            &-link {
                @include fz-18;
                font-weight: 700;
                color: #6C727F;
                padding-bottom: 2.2rem;
                position: relative;
                display: block;
                width: fit-content;
                transition: 0.4s;
                flex-shrink: 0;

                &::after {
                    content: '';
                    bottom: 0rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: 0.2rem;
                    background-color: $color-pri;
                    transition: 0.4s;
                    position: absolute;
                }

                @include hover {
                    color: #212936;

                    &::after {
                        width: 100%;
                    }
                }
                &.active {
                    color: #212936;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        &-side {
            .news-prof-side-qc {
                display: block;

                &:not(:first-child) {
                    margin-top: 4rem;

                    @include max(800px) {
                        margin-top: 2.4rem;
                    }
                }

                @include max(800px) {
                    display: none
                }
            }
        }

        &-tt {
            @include fz-24;
            font-weight: 500;
            @include font-second;
            padding-bottom: 1.6rem;
            margin-bottom: 1.6rem;
            border-bottom: 0.1rem solid $color-border;
            color: #394150;

            @include max(800px) {
                @include fz-40
            }
        }

        &-bl {
            padding: 2.4rem;
            border: 0.1rem solid $color-border;
            border-radius: 0.8rem;

            &:not(:first-child) {
                margin-top: 4rem;

                @include max(800px) {
                    margin-top: 2.4rem;
                }
            }
        }

        &-br {
            &-it {
                width: 50%;

                @include max(800px) {
                    width: calc(100% / 3);
                }

                .inner {
                    @include imgPd(90, 156);
                    border-radius: 0.8rem;
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.06), 8px 8px 32px rgba(0, 0, 0, 0.04);
                    transition: 0.4s;
                    border: 0.1rem solid transparent;

                    @include hover {
                        border-color: $color-pri
                    }

                    img {
                        @include imgContain;
                        width: 70%;
                    }
                }
            }
        }

        &-sol {
            &-link {
                display: block;
                color: #4D5562;
                transition: 0.4s;

                &:not(:first-child) {
                    margin-top: 1rem;
                }

                @include hover {
                    color: $color-pri;
                }
            }
        }
    }

    &-video {
        &-wr {
            position: relative;
        }
        &-it {
            .inner {
                .img {
                    position: relative;
                    &-inner {
                        @include imgPd(330, 588);
                        border-radius: 0.8rem;
                        &::after {
                            content: '';
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
                        }
                        img {
                            @include imgCover;
                        }
                    }
                    .btn-play {
                        width: 5.2rem;
                        height: 5.2rem;
                        @include mid-flex;
                        position: absolute;
                        @include mid;
                        pointer-events: none;
                        &::after {
                            content: '';
                            width: inherit;
                            height: inherit;
                            border-radius: 100rem;
                            border: 0.1rem solid $color-white;
                            position: absolute;
                            animation: grows 3s linear infinite;
                        }
                        i {
                            font-size: 5rem;
                            color: $color-white;
                            @include mid-flex;
                        }
                    }
                }
                .info {
                    .date {
                        margin-top: 0.5rem;
                    }
                    &-tt {
                        @include fz-24;
                        font-weight: 500;
                        transition: 0.4s;
                        color: #121826;
                        @include hover {
                            color: $color-pri;
                        }
                    }
                }
            }
        }
    }
}

.err {
    .row {
        align-items: center;
        @include max(630px) {
            .col-6 {
                width: 100%;
            }
        }
    }
    &-content {
        @include max(630px) {
            @include flex;
            flex-direction: column;
            align-items: center
        }
        .tt {
            @include fz-40;
            font-weight: 700;
            color: $color-pri;
            @include max(630px) {
                text-align:center;
            }
        }
        .desc {
            @include fz-18;
            color: $color-text;
            @include max(630px) {
                text-align:center;
            }
            span {
                white-space: nowrap;
                font-weight: 700;
            }
        }
        .btn {
            margin-top: 2rem;
            height: fit-content;
            .txt {
                @include fz-18;
            }
        }
    }
    &-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}