@font-face {
    font-family: 'themify';
    src: url('themify.woff2') format('woff2'),
        url('themify.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

