.btn {
    @include mid-flex;
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
    flex-shrink: 0;
    min-width: 13.5rem;
    height: 4rem;
    border-radius: 0.4rem;
    // box-shadow: 0rem 0rem 1.5rem rgba($color: #3A4A92, $alpha: 0.2);

    img {
        position: relative;
        z-index: 3;
        // margin-left: 0.5rem;
    }
    i {
        width: 1.6rem;
        height: 1.6rem;
        @include mid-flex;
        margin-left: 0.8rem;
        position: relative;
        z-index: 3;
        color: $color-text;
        transition: 0.4s;
    }
    .icon {
        width: 1.6rem;
        height: 1.6rem;
        @include mid-flex;
        margin-right: 1.2rem;
        transition: 0.4s;
        z-index: 4;
        flex-shrink: 0;

        img {
            width: inherit;
            height: inherit;
        }
    }

    .txt {
        line-height: 1;
        color: $color-black;
        transition: 0.4s;
        @include fz-16;
        display: block !important;
        white-space: nowrap;

        @include max(500px) {
            @include fz-14;
            white-space: nowrap;
        }
    }

    &.center {
        margin: auto;
        margin-top: 2rem;
    }

    width: max-content;
    overflow: hidden;

    .txt {
        color: $color-white;
        line-height: 1;
        z-index: 3;
        margin-top: 0rem;
        @include fz-16
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        top: 0;
        left: 0;
        z-index: 2;
        transform: scaleX(0);
        transform-origin: center right;
        transition: transform 0.5s ease;
    }

    @include min($res-mobile-min) {
        @include hover {
            &::after {
                transform: scale(1);
                transform-origin: center left;
            }
        }
    }

    &-pri {
        @extend .btn;
        background-color: $color-pri;
        border: 0.1rem solid $color-pri;

        &::after {
            background-color: $color-white;
        }

        @include hover {
            .icon {
                img {
                    filter: brightness(0) saturate(100%) invert(9%) sepia(90%) saturate(5754%) hue-rotate(159deg) brightness(95%) contrast(92%);
                }
            }

            .txt {
                color: $color-pri;
            }
        }
    }
    &-black {
        @extend .btn;
        background-color: #212936;
        border: 0.1rem solid #212936;

        &::after {
            background-color: $color-white;
        }

        @include hover {

            .txt {
                color: #212936;
            }
        }
    }

    &-bd {
        @extend .btn;
        background-color: transparent;
        border: 0.1rem solid #004EDF;
        .txt {
            color: #004EDF;
        }
        &::after {
            background-color: #004EDF;
        }

        @include hover {

            .txt {
                color: $color-white;
            }
        }
    }
    &-bdg {
        @extend .btn;
        background-color: transparent;
        border: 0.1rem solid $color-pri;
        .txt {
            color: $color-pri;
        }
        &::after {
            background-color: $color-pri;
        }

        @include hover {

            .txt {
                color: $color-white;
            }
        }
    }
    &-yel {
        @extend .btn;
        background-color: $color-four;
        border: 0.1rem solid $color-four;
        .txt {
            color: $color-text;
        }
        &::after {
            background-color: $color-pri-light;
        }

        @include hover {

            .txt {
                color: $color-pri;
            }
        }
    }

    &-second {
        @extend .btn;
        background-color: $color-white;
        border: 0.1rem solid $color-pri;
        transition: 0.4s;
        .icon {
            box-shadow: 0rem 0rem 1.5rem rgba($color: #3A4A92, $alpha: 0.2);
        }
        .txt {
            color: $color-pri;
        }
        &::after {
            background-color: $color-pri;
        }
        @include hover {
            border-color: $color-white;
            .txt {
                color: $color-white
            }
        }
    }
    &-prilight {
        @extend .btn;
        background-color: $color-pri-light;
        // border: 0.1rem solid $color-pri;
        transition: 0.4s;
        .icon {
            box-shadow: 0rem 0rem 1.5rem rgba($color: #3A4A92, $alpha: 0.2);
        }
        .txt {
            color: $color-pri;
        }
        
        &::after {
            background-color: $color-pri;
        }
        @include hover {
            border-color: $color-white;
            .txt {
                color: $color-white
            }
            i {
                color: $color-white;
            }
        }
    }

    

    &-prev,
    &-next {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 100rem;
        flex-shrink: 0;
        @include mid-flex;
        background-color: $color-white;
        border: 0.1rem solid $color-border;
        transition: 0.4s;
        cursor: pointer;

        i {
            transition: 0.4s;
            @include fz-10;
            font-weight: 500;
            color: $color-text;
        }

        &.current {
            background-color: $color-pri;
            // pointer-events: none;

            i {
                color: $color-white;
            }
        }

        &.swiper-button-disabled {
            background-color: $color-white;
            // pointer-events: none;

            i {
                color: $color-text;
            }
        }

        @include hover {
            background-color: $color-pri;

            i {
                color: $color-white;
            }
        }
    }
}

.load-btn {
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
    @include hover {
        .text,i {
            color: #FF5F00;
        }
    }
    .text {
        color: $color-text;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.4s;
    }

    i {
        @include fz-14;
        transition: 0.4s;
        color: $color-text;
    }

    &.active {
        i {
            transform: rotate(180deg);
        }
    }
}