// .tabBtn {
//     cursor: pointer;
// }

// .tabLink {
//     display: none;

//     &.open {
//         animation: fadeUp 1s linear;
//         display: flex;
//     }
// }

// .tabPanel {
//     display: none;

//     &.open {
//         animation: fadeUp 1s linear;
//         display: block;
//     }
// }
.main {
    padding-top: var(--height);

    &.hasbg {
        background-color: #F6F7FA;
    }
}

.tabJS {}

.tabBtn {
    cursor: pointer;
}

.tabLink {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &.open {
        opacity: 1;
        position: relative;
    }
}

.tabPanel {
    position: absolute !important;
    // overflow: hidden;
    opacity: 0;
    pointer-events: none;
    top: 0;
    transition: 0.7s;
    display: block !important;
    z-index: 2;

    &.open {
        animation: none;
        position: relative !important;
        opacity: 1;
        pointer-events: visible;

        .contentTab {
            animation: tabRight 0.5s ease-in-out forwards;
            animation-delay: 0.2s;
        }

    }

    .contentTab {
        animation: tabLeft 0.5s ease-in-out forwards;
        opacity: 0;
    }

}

.mona-content {
    h3 {
        font-weight: 500;
        margin: 1rem 0;
        @include fz-24;
        @include font-second;

        &:first-child {
            margin-top: 0;
        }
    }
    h4 {
        font-weight: 700;
    }

    p {
        margin: 1rem 0;
        color: $color-text;
        word-break: break-word;
    }

    .green {
        color: $color-four;
        font-weight: bold;
    }

    .img {
        width: 100%;
        margin: 1rem 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    ul {
        li {
            margin-bottom: 1rem;
            position: relative;
            padding-left: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 100rem;
                background-color: $color-text;
                left: 0.5rem;
                top: 0.9rem;
                position: absolute;
            }
        }
    }

    #toc_container {
        background: #E5EEEA;
        padding: 3.2rem;
        width: 100%;
        border: none;
        border-radius: 0.8rem;
        margin-top: 2rem;

        .toc_list {
            li {
                &:not(:first-child) {
                    margin-top: 1rem;
                }

                &::after {
                    display: none;
                }

                >a {
                    transform: 0.4s;
                    text-decoration: none !important;

                    @include hover {
                        color: $color-third;
                    }
                }
            }
        }
    }
    .wp-block-image {
        border-radius: 0.8rem;
        img {
            height: 100%;
            width: 100%;
            max-width: 100%;
            border-radius: inherit;
        }
    }
}


.img-animated {
    &::after {
        content: '';
        position: absolute;
        height: 50%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        top: 0;
        transition: 1s ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        height: 50%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        left: 0;
        bottom: 0;
        transition: 1s ease-in-out;
        z-index: 2;
    }

    &.is-inview {

        &::after,
        &::before {
            height: 0;
        }
    }
}


#lg-download {
    display: none;
}

#lg-actual-size {
    display: none;
}

.wp-block-table {
    &::-webkit-scrollbar {
        height: 0.2rem;
    }

    table {
        min-width: 70rem;
    }
}


.mona-cus-title {
    width: 100% !important;
}

//collapse
.collapse-body {
    display: none;
}

//date
.ui-datepicker .ui-datepicker-prev {
    cursor: pointer;

    &::after {
        content: "\f053";
        font-family: "Font Awesome 5 Pro";
        color: $color-white;
        position: absolute;
        @include mid;
    }

    .ui-icon {
        background-image: url("");
        background-position: center;
        background-size: contain;

    }
}

.ui-datepicker .ui-datepicker-next {
    cursor: pointer;

    &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Pro";
        color: $color-white;
        position: absolute;
        @include mid;
    }

    .ui-icon {
        background-image: url("");
        background-position: center;
        background-size: contain;

    }
}

.ui-widget-header .ui-icon {
    background-image: url("");
    background-position: center;
    background-size: contain;
}

.ui-datepicker-header {
    background: linear-gradient(90deg, #f72ec8 0.49%, #4CCFFF 100%);
    color: $color-white;
}

.ui-datepicker-unselectable .ui-state-default {
    text-align: center;
}

.ui-datepicker-unselectable {
    .ui-state-default {
        background-color: transparent;
        color: $color-pri;
        border-color: transparent;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    background-color: transparent;
    text-align: center;
    border: none;
    font-weight: 700;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    background-color: transparent;
    color: $color-five;
    border: none;
    text-align: center;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    background: linear-gradient(90deg, #f72ec8 0.49%, #4CCFFF 100%);
    color: $color-white;
    text-align: center;
    border-radius: 0.4rem;
}

.ui-widget.ui-widget-content {
    background-color: $color-white;
    box-shadow: 0 0 1rem rgba(68, 68, 68, 0.3);
    border: none;
    position: relative;
    border: 0.1rem solid rgba(59, 222, 255, 0.5);
    border-radius: 0.8rem;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    background-color: $color-five;
    background: linear-gradient(90deg, #f72ec8 0.49%, #4CCFFF 100%);
    border-radius: 0.4rem;
    border: none;
    color: $color-white;
}

button {
    padding: 0;
    background-color: transparent;
}

.wp-block-media-text__media img {
    border-radius: 1.6rem;
}

.wp-block-separator {
    border: none !important;
    border-bottom: 0.1rem solid rgba(68, 68, 68, 0.3) !important;
}


//Hover effect
.item-hover-effect {
    @include flex;
}

.item {
    width: 300px;
    height: 300px;
}

.img {
    &-inner {
        padding-top: 100%;
    }
}

.img-shine {
    position: relative;
    overflow: hidden;

    @include hover {
        &::after {
            animation: shine2 0.5s linear forwards;
            width: 200%;
            left: 100%;
        }
    }

    &::after {
        content: '';
        width: 0%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: -50%;
        top: 0;
        transition: 0.75s;
        opacity: 0;
        @include transform(skew(30deg));
    }
}

.img-rec {
    position: relative;
    overflow: hidden;

    @include hover {
        .content {
            width: 100%;
            height: 100%;

            p {
                opacity: 1;
                @include transform(translateY(0));
                transition-delay: 0.7s;
            }

            &::after {
                width: 90%;
                height: 90%;
                border-color: $color-white;
                transition-delay: 0.3s;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .content {
        position: absolute;
        @include mid;
        width: 100%;
        height: 100%;
        transition: 0.4s;
        padding: 2rem;

        p {
            position: relative;
            transition: inherit;
            color: white;
            @include transform(translateY(2rem));
            opacity: 0;
            transition-delay: 0s;
        }

        &::after {
            content: '';
            width: 0%;
            height: 0%;
            position: absolute;
            @include mid;
            border: 0.1rem solid transparent;
            transition: inherit;
            z-index: -1;
        }
    }
}

.zoom-in {
    @include hover-image-zoom(0.3s, ease-in-out);

    img {
        @include imgCover;
        @include transform(translate(-50%, -50%) scale(1.1))
    }
}

.move-left {
    @include hover-image-left(0.3s, ease-in-out);

    img {
        @include imgCover;
        width: calc(100% + 50px);
        max-width: none;
        @include transform(translate(-50%, -50%))
    }
}

// margin
.mt4 {
    margin-top: 4rem;
}

// padding
.sc-pd {
    padding: 4rem 0;
}

.sc-pdb {
    padding-bottom: 4rem;
}

.sc-pdt {
    padding-top: 4rem;
}

.sc-pd8 {
    padding: 8rem 0;

    @include max($res-mobile) {
        padding: 4rem 0;
    }
}

.sc-pdt8 {
    padding-top: 8rem;

    @include max($res-mobile) {
        padding-top: 4rem;
    }
}

.mb4 {
    margin-bottom: 4rem;

    @include max($res-mobile) {
        margin-bottom: 2rem;
    }
}

//blur 
.blur {
    opacity: 0;

    &.is-inview {
        -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
}

//toast
.toast {
    @include flex;
    align-items: center;
    max-width: 100%;
    min-width: 20rem;
    padding: 1.2rem 2.4rem;
    padding-right: 4rem;
    width: fit-content;
    border-radius: 1rem;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    position: relative;

    &.success {
        background-color: #ceffb5;

        .toast-txt {
            color: green
        }

        .toast-close {
            color: green;
        }
    }

    &.error {
        background-color: #fca1a1;

        .toast-txt {
            color: red
        }

        .toast-close {
            color: red;
        }
    }

    &.warn {
        background-color: #fcf6a1;

        .toast-txt {
            color: rgb(255, 162, 0);
        }

        .toast-close {
            color: rgb(255, 162, 0);
        }
    }

    &-txt {
        @include fz-14;
        font-weight: 600;
    }

    &-close {
        font-weight: 400;
        margin-left: auto;
        cursor: pointer;
        width: 1.6rem;
        height: 1.6rem;
        @include mid-flex;
        position: absolute;
        top: 1.5rem;
        right: 1.3rem;
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

//




// pagination
.pagimain {
    margin-top: 4rem;
}



.scrollDeskJS {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &::-webkit-scrollbar {
        height: 0;
    }
}

// collapse

.collapse {
    &-itemf {
        &.active {
            .collapse-body {
                display: block;
            }
        }
    }

    &-bodyf {
        display: block;
    }
}

// set grid
.setY {
    --gutter-x: 2.4rem;
    --gutter-y: 2.4rem;

    @include max($res-mobile) {
        --gutter-x: 1.6rem;
        --gutter-y: 2.4rem;
    }

    @include max(800px) {
        --gutter-x: 0.8rem;
        --gutter-y: 2.4rem;
    }
}

.setN {
    --gutter-x: 2.4rem;
    --gutter-y: 2.4rem;

    @include max($res-mobile) {
        --gutter-x: 1.6rem;
        --gutter-y: 1.6rem;
    }

    @include max(800px) {
        --gutter-x: 0.8rem;
        --gutter-y: 0.8rem;
    }
}

.setsmallG {
    --gutter-x: 0.6rem;
    --gutter-y: 0.6rem;
}

.setGF {
    --gutter-x: 2.4rem;
    --gutter-y: 4rem;

    @include max($res-mobile) {
        --gutter-x: 1.6rem;
        --gutter-y: 3rem;
    }

    @include max(800px) {
        --gutter-x: 1.6rem;
        --gutter-y: 2rem;
    }
}


// gsap
.prl-scroll {
    overflow: hidden;

    img {
        height: 150% !important;
    }
}

.zoom {
    img {
        animation: zoomInf 40s linear infinite;
    }
}

.title {
    &-svg {
        height: 3.5rem;
        margin: auto;
        width: fit-content;
        overflow: hidden;

        &.is-inview {
            .title-svg-inner {
                transform: translateY(0);
            }
        }

        &-inner {
            width: fit-content;
            height: inherit;
            transition: 0.8s all;
            transform: translateY(100%);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

// form
.form {
    &-list {
        // --gutter-x: 0.8rem;
        // --gutter-y: 0.8rem;
        align-items: end;
    }

    &-ip {
        width: 100%;

        .text {
            color: #394150;
            margin-bottom: 0.8rem;
            display: block;
            @include fz-16;
            font-weight: 500;
            .red {
                color: red;
            }
        }

        &-per75 {
            width: 75%;

            @include max(800px) {
                width: 100%;
            }

            @include max(600px) {
                width: 100%;
            }
        }

        &.per5 {
            width: 50%;

            @include max(800px) {
                width: 100%;
            }

            @include max(600px) {
                width: 100%;
            }
        }

        &.per3 {
            width: calc(100%/3);

            @include max(600px) {
                width: 100%;
            }
        }

        &.per25 {
            width: 25%;

            @include max(600px) {
                width: 100%;
            }
        }

        &.datetime {
            position: relative;

            &::after {
                content: '';
                background-image: url("../assets/images/calendar.png");
                @include default-background;
                width: 2rem;
                height: 2rem;
                position: absolute;
                right: 2rem;
                top: 58%;
            }
        }


        input,
        textarea,
        select {
            border: none;
            outline: none;
            color: #666666;
            background-color: #F3F5F7;
            width: 100%;
            // border: 1px solid transparent;
            @include fz-16;
            transition: 0.4s;
            font-weight: 400;
            height: 4.4rem;
            padding: 1rem 1.6rem;
            border-radius: 0.8rem;
            box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.08);
            @include input-placeholder {
                color: #666666;
                font-weight: 400;
            }

            &:focus {
                border: 0.1rem solid $color-pri;
            }

        }

        textarea {
            min-height: 13.7rem;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            margin-right: 1rem;
            pointer-events: none;
            display: none;
        }

        input[type="date"] {
            cursor: text;
        }

        .label-ip {
            border: none;
            outline: none;
            color: $color-white;
            width: 100%;
            height: 4.4rem;
            background: linear-gradient(360deg, #d3fcff -137.5%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 0.8rem;
            display: block;
            padding: 1rem;
            cursor: pointer;

            .label-txt {
                @include lc(1);
            }
        }

        .btn-linear {
            margin-top: auto;
            margin-left: auto;
        }

        &.hasbtn {
            @include flex;
        }

        &.upfile {
            >label {
                position: relative;

                &::after {
                    content: "";
                    width: 1.6rem;
                    height: 1.6rem;
                    background-image: url("../assets/images/iconupload.svg");
                    @include default-background;
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .input {
            @include flex;
            position: relative;

            .seepassJS {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1rem;
            }
        }

    }

}


.home-title-as {
    @include fz-90;
    color: $color-white;
    @include font-second;
    text-transform: uppercase;
}

.mga {
    margin: auto;
}

.ofhd {
    overflow: hidden;
    width: 100%;

    @include min($res-mobile-min) {
        height: 100vh;
    }
}

// vertical Scroll
.scroll-container {
    /* Chiều cao của khung nắm kéo */
    // overflow-y: scroll;
    /* Bật tính năng scroll */
}

.scroll-handle {
    user-select: none;
    will-change: transform;
}

.select-box {
    position: relative;
    min-width: 15rem;

    .select-current {
        height: 4.4rem;
        padding: 1rem 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-text;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid rgb(100, 100, 100);
            position: absolute;
            top: 45%;
            right: 1.5rem;
        }

        .arrow {
            width: 2rem;
            height: 2rem;
            @include mid-flex;
            flex-shrink: 0;
            display: none;
        }

        .text-current {
            width: calc(100% - 2rem);
            @include lc(1);
            font-weight: 700;
        }
    }

    .select-options {
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        width: 100%;
        z-index: 10;
        display: none;
        min-width: 30rem;
        border-radius: 1.6rem;
        overflow: hidden;
        box-shadow: $shadow;

        .opt {
            &-label {
                padding: 1rem 1.2rem;
                background-color: $color-white;
                display: block;
                cursor: pointer;
                transition: 0.4;

                @include hover {
                    background-color: $color-third;
                    color: $color-white;
                }
            }

            &-input {
                display: none;
            }

            .icon {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 0.8rem;

                img {
                    width: 100%;
                    height: 100%;
                    display: block
                }
            }

            &-text {
                @include flex;
                align-items: center;
                font-weight: 700;
            }
        }
    }
}

.megas {
    position: fixed;
    width: 100vw;
    max-height: calc(100vh - var(--height));
    background-color: white;
    top: var(--height);
    left: 0;
    // padding: 6rem 0;
    padding-top: 4rem;
    padding-bottom: 3rem;
    transition: 0.4s;
    z-index: -1;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    @include flex;
    flex-direction: column;

    &-wr {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    &-col {
        width: 25%;
    }

    &-head {
        @include flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &-tt {
            @include flex;
            align-items: center;

            .txt {
                font-weight: 500;
                @include fz-20;
                color: $color-text;
            }

            .icon {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 1rem;

                img {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }

        .control {
            @include flex;
            align-items: center;

            .pagin {
                @include flex;
                align-items: center;

                .num {
                    min-width: 3rem;
                    text-align: center;
                }

                .prev,
                .next {
                    cursor: pointer;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100rem;
                    @include mid-flex;
                    transition: 0.4s;
                    flex-shrink: 0;

                    i {
                        color: $color-text;
                    }

                    @include hover {
                        background-color: $color-pri-medium;

                        i {
                            color: $color-white;
                        }
                    }
                }
            }

            .btn {
                margin-left: 6rem;
            }
        }

    }

    &-item {
        .img {
            position: relative;
            overflow: hidden;
            height: 7.2rem;
            @include mid-flex;
            border-radius: 0.4rem;
            padding: 1rem;
            margin-bottom: 1rem;

            &-bg {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;

                &::after {
                    content: '';
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .tt {
                position: relative;
                text-align: center;
                color: $color-white;
                font-weight: 600;
            }
        }
    }

    &-brand {
        flex-shrink: 0;
        padding: 0 2.4rem;
        padding-right: 0;
        border-top: 0.1rem solid $color-border;
        // height: 14rem;
        margin-top: auto;
        margin-top: 2rem;

        .swiper {
            padding: 2.4rem 0;
        }

        &-it {
            .inner {
                @include imgPd(90, 156);
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.06), 8px 8px 32px rgba(0, 0, 0, 0.04);
                border-radius: 0.8rem;
                transition: 0.4s;
                border: 0.1rem solid transparent;

                @include hover {
                    border: 0.1rem solid $color-pri
                }

                img {
                    @include imgContain;
                    width: 80%;
                }
            }
        }
    }

    .menu {
        &-list {
            flex-direction: column;
            align-items: unset;
        }

        &-item {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        &-link {
            display: block;
            color: $color-text;

            @include hover {
                color: #FF5F00 !important;
                font-weight: 600 !important;
            }
        }
    }

    &-news {
        &-it {
            .inner {
                position: relative;

                .img {
                    &-inner {
                        @include imgPd(488, 384);
                        border-radius: 0.4rem;

                        &::after {
                            content: '';
                            height: 100%;
                            width: 100%;
                            left: 0;
                            top: 0;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64));
                            position: absolute
                        }

                        img {
                            @include imgCover;
                        }
                    }
                }

                .info {
                    position: absolute;
                    padding: 3.2rem;
                    left: 0;
                    bottom: 0;

                    .tt {
                        color: $color-white;
                        font-weight: 700;
                        margin-bottom: 1rem;
                        display: block;
                        @include lc(1);
                        transition: 0.4s;
                        transition-delay: 0.4s;
                        &.center {
                            text-align: center;
                        }
                    }

                    .desc {
                        overflow: hidden;
                        transition: 0.4s;
                        max-height: 0;
                        &-inner {
                            color: $color-white;
                            @include lc(4);
                        }
                    }

                    .link {
                        color: $color-white;
                        display: block;
                        margin-top: 1rem;
                        transition: 0.4s;
                        @include flex;
                        align-items: center;
                        i {
                            @include fz-14;
                            margin-left: 1rem;
                        }
                        @include hover {
                            color: $color-five;
                        }
                    }
                }
            }

            @include hover {
                .inner {
                    .info {
                        .desc {
                            max-height: 20rem;
                            transition-delay: 0.4s;

                        }

                        .tt {
                            transition: 0.4s;
                            &.center {
                                transform: translateY(-100%) translateX(-10%);
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.icon {
    @include mid-flex;
    position: relative;
    flex-shrink: 0;

    img {
        @include mid;
    }
}

.ctrl {
    &-prev,
    &-next {
        position: absolute;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 100rem;
        @include mid-flex;
        background-color: $color-pri;
        transition: 0.4s;
        z-index: 2;
        cursor: pointer;
        border: 0.1rem solid transparent;
        @include max(800px) {
            width: 3rem;
            height: 3rem;
        }

        &.swiper-button-disabled {
            background-color: transparent;
            border-color: #6C727F;
            @include max(1290px) {
                background-color: $color-white;
            }
            i {
                color: #6C727F;
            }
        }

        i {
            color: $color-white;
            @include fz-16;
            font-weight: 800;
        }

        @include hover {
            background-color: $color-pri;

            i {
                color: $color-white;
            }
        }
    }

    &.verti {

        .ctrl-prev,
        .ctrl-next {
            top: 50%;
        }

        .ctrl-prev {
            left: -4rem;
            transform: translate(-50%, -50%);

            @include max(1330px) {
                transform: translate(0%, -50%);
            }
            @include max(1290px) {
                left: 0;
                transform: translate(-50%,-50%);
            }
            @include max(1238px) {
                transform: translate(-30%,-50%);
            }
        }

        .ctrl-next {
            right: -4rem;
            transform: translate(50%, -50%);

            @include max(1330px) {
                transform: translate(0%, -50%);
            }
            @include max(1290px) {
                right: 0;
                transform: translate(50%,-50%);
            }
            @include max(1238px) {
                transform: translate(30%,-50%);
            }
        }
    }
}

.title {
    @include fz-40;
    font-weight: 600;
    @include font-second;
    color: $color-pri-dark;
    position: relative;
    width: fit-content;
    padding-bottom: 1rem;
    margin: auto;
    margin-bottom: 4rem;
    @include max(500px) {
        @include fz-30;
    }
    &.left {
        margin: unset;
        margin-bottom: 4rem;
    }
    .char {
        @include transChar(0.6s,0.02s,ease-in-out);
        transform: translateY(4rem);
        opacity: 0;
    }
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0.1rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background:linear-gradient( to right,transparent ,#00311D,transparent );
        transition: 0.4s;
        max-width: 38.4rem;
        @include max(400px) {
            max-width: 28rem;
        }
    }
    &::before {
        content: '';
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        background-image: url("../assets/images/waveform.svg");
        @include default-background;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,50%) scale(0);
        transition: 0.4s;
    }
    &.is-inview {
        .char {
            transform: translateX(0);
            opacity: 1;
        }
        &::after {
            width: 38.4rem;
            transition-delay: 0.5s;
        }
        &::before {
            transform: translate(-50%,50%) scale(1);
            transition-delay: 0.7s;
        }
    }

    &.white {
        color: $color-white;
        &::after {
            background:linear-gradient( to right,transparent ,$color-white,transparent );
        }
        &::before {
            filter: brightness(0) invert(1);
        }
    }
}

.checks {
    &-it {
        @include flex;
        cursor: pointer;
        user-select: none;
        &:not(:first-child) {
            margin-top: 1rem;
        }
        .sqr {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 0.8rem;
            border: 0.1rem solid $color-text;
            border-radius: 0.4rem;
            position: relative;
            @include mid-flex;
            overflow: hidden;
            flex-shrink: 0;
            margin-top: 0.2rem;

            &::after {
                content: '\f00c';
                font-family: "Font Awesome 6 Pro";
                width: 1.7rem;
                height: 1.7rem;
                position: absolute;
                left: 0;
                top: 0;
                @include mid-flex;
                font-size: 1.5rem;
                color: $color-white;
                background-color: $color-pri;
                opacity: 0;
            }
        }
        .txt {
            color: $color-text;
        }
        input:checked ~ .sqr {
            &::after {
                opacity: 1;
            }
        }
        input:checked ~ .txt {
            color: $color-pri;
        }
    }
}

.count {
    width: fit-content;
    @include flex;
    align-items: center;
    border-radius: 100rem;
    padding: 0 2rem;
    &-btn {
        cursor: pointer;
    }
    &-number {
        width: 5rem;
        text-align: center;
        font-weight: 500;
    }
}