.side {
    
    &-fixed {
        @include min($res-mobile-min) {
            position: sticky;
            top: 13rem;
        }

        @include max($res-mobile) {
            position: fixed;
            width: 300px;
            max-width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: white;
            z-index: 51;
            transition: 0.4s ease-in-out;
            opacity: 0;
            transform: translateX(110%);
            visibility: hidden;

            &.open {
                opacity: 1;
                transform: translate(0, 0);
                visibility: visible;
            }
        }

        &-wrap {
            @include max($res-mobile) {
                padding: 60px 24px;
                width: 100%;
                height: 100%;
                overflow-y: auto;
            }
        }

        &.left {
            right: auto;
            left: 0;
            transform: translateX(-110%);
            background-color: transparent;
            z-index: 52;

            @include max(1600px) {
                position: fixed;
                width: 300px;
                height: fit-content;
                max-width: 100%;
                top: 50%;
                bottom: 0;
                right: 0;
                background-color: transparent;
                z-index: 51;
                transition: 0.4s ease-in-out;
                opacity: 0;
                transform: translateX(-110%) translateY(-50%);
                visibility: hidden;

                &.open {
                    opacity: 1;
                    transform: translate(0, -50%);
                    visibility: visible;
                }
            }

            @include min(1600px) {
                position: fixed;
                width: fit-content;
                height: fit-content;
                max-width: 100%;
                top: 50%;
                bottom: 0;
                right: 0;
                z-index: 51;
                transition: 0.4s ease-in-out;
                opacity: 1;
                transform: translate(0, -50%);
                visibility: visible;
            }

            .side-close {
                display: none;
            }
        }

    }

    &-overlay {
        position: fixed;
        @include full;
        background-color: rgba($color: $color-black, $alpha: 0.6);
        z-index: 50;
        transition: 0.5s ease-in-out;
        opacity: 0;
        transform: translateX(110%);
        visibility: hidden;

        &.open {
            opacity: 1;
            transform: translate(0, 0);
            visibility: visible;
        }

        @include min($res-mobile-min) {
            display: none;
        }

        &.left {
            transform: translateX(-110%);
            background-color: transparent;

            @include min(1600px) {
                display: none;
            }

            &.open {
                opacity: 1;
                transform: translate(0, 0);
                visibility: visible;
            }

            @include min(1600px) {
                display: none;
            }

            @include max(1600px) {
                display: block;
            }
        }
    }

    &-open {
        width: 4.4rem;
        height: 4.4rem;
        background-color: $color-second;
        @include mid-flex;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        margin-left: 1.6rem;
        i {
            color: $color-white;
            @include fz-30;
        }
        // &.close {
        //     opacity: 0;
        //     transform: translate(100%, -50%);
        //     visibility: visible;
        // }

        @include min($res-mobile-min) {
            display: none;
        }

        &-wrap {
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            background-color: white;
            @include mid-flex;

            .icon {
                color: $color-text;
                font-weight: 600;
                font-size: 1.6rem;
            }
        }

        &.left {
            left: 0;
            right: auto;
            border-radius: 0 100rem 100rem 0;
            background-color: $color-pri;

            @include min(1600px) {
                display: none;
            }

            @include max(1600px) {
                display: flex;
            }

            &.close {
                opacity: 0;
                transform: translate(-100%, -50%);
                visibility: visible;
            }

            .icon {
                transform: rotate(180deg);
                color: $color-pri;
            }
        }
    }

    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-color: white;
        border: 1px solid $color-pri;
        border-radius: 100rem;
        @include mid-flex;
        cursor: pointer;

        &:hover {
            .icon {
                transform: rotate(360deg);
            }
        }

        .icon {
            font-size: 1.8rem;
            font-weight: 400;
            transition: 0.6s ease-in-out;
        }

        @include min($res-mobile-min) {
            display: none;
        }

    }
}